body {
	overflow-y: hidden;
}

.main {
	margin: 0px -10px 0px -10px;
	width: 1367px;
	height: 770px;
	background-color: lightblue;
	position: absolute;
}

.header {
	width: 1375px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
}

.header_1 {
	width: 1375px;
	height: 50px;
	background-color: seashell;
	position: relative;
}


/*头部导航条样式*/

.header_logo {
	margin: 5px 112px 5px 50px;
	width: 140px;
	height: 50px;
	float: left;
}

.header_input {
	margin: 7px 50px 7px 33px;
	width: 350px;
	height: 30px;
	background-color: white;
	float: left;
	font-family: "微软雅黑";
	font-size: 15px;
	padding-right: 50px;
}

.header_search {
	position: absolute;
	top: 8px;
	left: 700px;
	cursor: pointer;
}

.header_ul {
	margin: 0px;
	padding: 0px 0px 0px 53px;
	font-family: "宋体";
	font-size: 20px;
	list-style-type: none;
	overflow-y: hidden;
}

.header_ul_li {
	padding-left: 20px;
	float: left;
}

.header_ul_li_2 {
	padding-left: 5px;
	position: relative;
	top: 12px;
}

.header_ul_li_3 {
	padding-left: 50px;
	position: relative;
	top: 12px;
}

.header_a {
	color: black;
	display: block;
	text-decoration: none;
}
.header_a1{
	color: gray;
	display: block;
	text-decoration: none;
	cursor: no-drop;
}
.header_a img {
	width: 30px;
	height: 30px;
	position: relative;
	top: 5px;
}
.header_a1 img {
	width: 30px;
	height: 30px;
	position: relative;
	top: 5px;
}
.header_a:hover {
	color: seashell;
	background: #ff8140;
}

.header_ul_2 {
	font-family: "宋体";
	font-size: 20px;
	list-style-type: none;
	position: absolute;
	left: 908px;
	display: none;
}

.header_ul_2_li {
	float: none;
	line-height: 30px;
	text-align: left;
	background-color: seashell;
}

.header_ul_li:hover ul {
	display: block;
}


/*头部导航条样式*/

.register_container {
	margin: 100px 0px 0px 200px;
	width: 1000px;
	height: 500px;
	font-size: 25px;
	position: fixed;
}

.pompt {
	margin-top: 50px;
	width: 1000px;
	height: 50px;
	text-align: center;
}

.form_div,
.submit_div{
	margin-top: 10px;
	width: 1000px;
	height: 50px;
	text-align: center;
}

.form_div i {
	color: red;
}

.form_div input {
	width: 200px;
	height: 20px;
	font-size: 20px;
}

#re_password,
#password2{
	position: relative;
	left: -25px;
}
.user_submit {
	width: 200px;
	height: 30px;
	border-width: 0px;
	font-size: 20px;
	font-weight: bold;
	background-color: darkgray;
	cursor: pointer;
}
.user_submit:hover{
	background-color: gray;
	color: seashell;
}
