<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.scau.dao.service" />
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />  
    </bean>
    <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ishow" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean>
	
	<bean id="IUserDAO" class="com.scau.dao.imp.IUserDaoImp">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<bean id="IShareDAO" class="com.scau.dao.imp.ShareDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	

	<bean id="AdministratorDao" class="com.scau.dao.imp.AdministrationDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<bean id="CollectionShareDao" class="com.scau.dao.imp.CollectionShareDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<bean id="CollectionUserDao" class="com.scau.dao.imp.CollectionUserDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<bean id="CommentDao" class="com.scau.dao.imp.CommentDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
	<bean id="IKeywordDAO" class="com.scau.dao.imp.KeywordDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<bean id="IPictureDAO" class="com.scau.dao.imp.PictureDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	<bean id="IPointPraiseDAO" class="com.scau.dao.imp.PointPraiseDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
</beans>